NEXT_PUBLIC_SUPABASE_URL=https://iaquoxyiyydkmbnynixe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhcXVveHlpeXlka21ibnluaXhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyOTI4MjQsImV4cCI6MjA5Mjg2ODgyNH0.v8Nn1vD8gbUVb9zA7Xwhz5XzHmAzeUFq58SsmHa14Xw
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
